#content {
	background-color:  white ;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

#logo {
	font-size: 27px;
	text-align: center;
}


body {
    background-color: #F0F0F0;
}

.people_group{
	margin-top: 20px;
}

.people_group table{
	text-align: left;	
}