---
layout: default
title: 'Petablox: Declarative Program Analysis for Big Code'
logo_img: petablox_logo.png
logo_style: 'width: 280px; height: 70px;'
---


<div class="top"  >
	<div class="row">
		<div class=" col-md-3 nopadding vcenter" style="margin-top:10px">
			<img src="{{site.baseurl}}/images/petablox_logo_new.png" width="100%"  alt="" class="alignleft border"/>
		</div>
		<div class=" col-md-9  nopadding vcenter">
			<h1 id = "logo">{{site.toolname}}: Declarative Program Analysis for Big Code</h1>
		</div>
	</div>
	</br>
		<div class="row">
		<div class="col-md-12">
			<p>Big Code, the collective knowledge amassed from analyzing programs, presents a timely and unprecedented opportunity to improve existing methods for program reasoning and enable newer ones. Petablox is a new declarative paradigm and system that aims to serve as a foundation to realize this objective.  Based on the logic programming language Datalog, Petablox addresses challenges of application diversity and implementation complexity in seeking a broad and deep unification that has eluded past declarative efforts in program analysis. Starting from a single common specification of any program analysis in Datalog, it automatically synthesizes Big-Code tasks such as tailoring program abstractions to analysis queries, transferring analysis facts across programs, and incorporating user feedback to improve analysis results over time. 
		</p>
		</div>
		</div>

</div>

<!--div class='row'>
	<div class='col-md-3 hidden-sm hidden-xs' style="margin-top:10px">
		<img src='images/petablox_logo.png' width="110%"/>
	</div>
	<div class='col-md-9 col-sm-12'>
		<h3 id='logo'>Petablox: Declarative Program Analysis for Big Code</h3> 
</div>

<div class='row'>
	<div class='col-md-12'>
	<h5>What's New</h5>
	<ul>
	{% for news in site.data.news %}
	<li><span class='pag-news-date'>[{{news.date}}]</span>
		{{news.content}}
	</li>	
	{% endfor %}
	</ul>
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
	<h5>About</h5>
	<p>Most software development today leverages the world's massive
collection of open source software. There is significant room for program
analyses to similarly leverage Big Code, the collective knowledge amassed from
analyzing existing programs, to automatically infer or predict salient behaviors
and vulnerabilities in new programs. Petablox is a framework for automatically
synthesizing use-cases of arbitrary declarative program analyses for Big Code
tasks such as efficiently finding good abstractions, transferring analysis
results across programs, and adapting analyses to user feedback.  Despite their
diversity, all these tasks entail solving large instances of MaxSAT, the maximum
satisfiability problem which comprises a mix of hard (inviolable, logical)
constraints and soft (violable, probabilistic) constraints. Petablox encompasses
demand-driven, compositional, and learning-based MaxSAT optimizations for
scaling these tasks to large code bases.
	</div>
</div-->


<!--div class='row'>
	<div class='col-md-12'>
	<h5>Papers</h5>
	<ul>
	{% for pub in site.data.pubs %}	
	<li><b><a href="{{pub.paper}}">{{pub.title}}</a>.</b><br>
	{{pub.authors}}<br>
	<i>{{pub.conference}}</i>
	{% if pub.award != nil%}
	<br><b>{{pub.award}}</b>
	{% endif %}
	<br><br></li>
	{% endfor %}
	</ul>
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
	<h5>Questions?</h5>
<p>For questions about Petablox, send email to <b>petablox-discuss{at}googlegroups.com</b>. Posting does not require membership but posts by non-members are moderated to avoid spamming group members. </p>
	</div>
</div-->

<!--div class='row'>
	<div class = 'col-md-12'>
	<h5>People</h5>

	<div class='col-md-12 people_group'>
		<div class='col-md-3 hidden-sm'>
			<img src="images/gt_logo.png" alt="Georgia Tech" width="80%">
		</div>
		<div class='col-md-9'>
			<table width="50%" style="margin-top:10px;">
				<tr><td><a href="http://www.cc.gatech.edu/~akamath/">Aditya Kamath</a></td> <td> Master Student</td> </tr>
				<tr><td><a href="http://www.cc.gatech.edu/~skulkarn/">Sulekha Kulkarni</a></td> <td>PhD Student</td></tr>			
				<tr><td><a href="http://www.cc.gatech.edu/~rmangal3/">Ravi Mangal</a></td> <td>PhD Student</td></tr>			
				<tr><td><a href="http://cc.gatech.edu/~naik">Mayur Naik</a></td> <td>Faculty</td></tr>		
				<tr><td><a href="http://www.cc.gatech.edu/~xsi7/">Xujie Si</a></td> <td>PhD Student</td></tr>
				<tr><td><a href="http://www.cc.gatech.edu/~xzhang36/">Xin Zhang</a></td> <td>PhD Student</td></tr>
			</table>
		</div>
	</div>

	<div class = 'col-md-12 people_group' >
		<div class='col-md-3 hidden-sm'>
			<img src="images/ucla_logo.png" alt="UCLA" width="80%">
		</div>
		<div class='col-md-9'>
			<table width="50%" style="margin-top:10px;">
				<tr><td>Joe Cox</td> <td> Master Student</td> </tr>
				<tr><td>Christian Kalhauge</td> <td>PhD Student</td></tr>			
				<tr><td><a href="http://www.cs.ucla.edu/~palsberg/">Jens Palsberg</a></td> <td>Faculty</td></tr>		
			</table>
		</div> 
	</div>

	<div class = 'col-md-12 people_group' >
		<div class='col-md-3 hidden-sm'>
			<a href="http://www.logicblox.com"><img src="images/lb_logo.png" alt="LogicBlox" width="80%"></a>
		</div>
		<div class='col-md-9'>
			<table width="50%" style="margin-top:10px;">
				<tr><td>Molham Aref</td></tr>
				<tr><td>Martin Bravenboer</td></tr>			
				<tr><td>Todd Green</td></tr>		
			</table>
		</div> 
	</div>

</div>
</div-->
